<table border="1">
	<tr>
		<th>KPI ID</th>
		<th>KPI</th>

		<% @dates.each do |date| %>
			<th> <%= date %> </th>
		<% end %>
	</tr>

	<% @kpis.each do |kpi| %>
	<tr>
		<td><%= kpi.id %></td>
		<td><%= kpi.name %></td>
		<% @dates.each do |date| %>
			<% if kpi.kpi_datapoints.get_wkvalue(date).first %>
				<td> <%= kpi.kpi_datapoints.get_wkvalue(date).first.value %> </td>
			<% else %>
				<td> </td>
			<% end %>
		<% end %>
	</tr>
	<% end %>
</table>