.green {
  color: green;
  background-color: #9edda0;
  text-align: center;
}

.pack-nav {
  color: white;
  &:visited {
    color: lightblue;
  }
}

.red {
  color: red;
  background-color: #f6aeae;
  text-align: center;
}

.pack-header {
  background-color: #4c4eaf;
  color: white;
}

.pack-bar {
  color: white;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4c4eaf+0,005da5+0,207cca+39,ffffff+74,ffffff+74,ffffff+79,ffffff+79,ffffff+79,ffffff+100 */
  background: #4c4eaf; /* Old browsers */
  background: -moz-linear-gradient(left,  #4c4eaf 0%, #005da5 0%, #207cca 39%, #ffffff 74%, #ffffff 74%, #ffffff 79%, #ffffff 79%, #ffffff 79%, #ffffff 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  #4c4eaf 0%,#005da5 0%,#207cca 39%,#ffffff 74%,#ffffff 74%,#ffffff 79%,#ffffff 79%,#ffffff 79%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  #4c4eaf 0%,#005da5 0%,#207cca 39%,#ffffff 74%,#ffffff 74%,#ffffff 79%,#ffffff 79%,#ffffff 79%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4eaf', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
}

img {
  border:1px solid #021a40 !important;
  padding:1px !important;
}

.box-list{
  border: 1px dotted #1c243e;
  padding:12px;
  margin:12px;
}

#datepicker{
  width: 180px;
}

div.row.rpmpack{
  border: 1px dotted #1c243e;
  padding: 12px;
  margin: 12px;
}


.footer {
	 clear: both;
    position: relative;
    z-index: 10;
    height: 3em;
    margin-top: -3em;
}

div.jumbotron {
	background-color: #ebeaff;
	h2 {
      color: #1c243e;
      font-weight: bold;
   }
}

a.btn.btn-default {
    background-color: #2a246b;
    background-position: 0;
    border: 0px solid transparent;
    border-color: #fff;
    padding: 6px 6px;
    margin: 6px 0px 6px 30px;
    background-image: none;
    color: #fff;
    text-shadow: 0 0px 0 #000;
    box-shadow: inset 0 0px 0 #000, -2px 2px 1px #000;

}

input.btn.btn-default {
    background-color: #2a246b;
    background-position: 0;
    border: 0px solid transparent;
    border-color: #fff;
    padding: 6px 6px;
    background-image: none;
    color: #fff;
    text-shadow: 0 0px 0 #000;
    box-shadow: inset 0 0px 0 #000, -2px 2px 1px #000;
}

.navbar-default {
  .container-fluid {
    background-color: #1c243e;
   .navbar-nav > li > a {
   color: #ffffff;
   margin-left: 10px;
   font-size: 16px;
   font-weight: bold;
   }
   .navbar-brand {
        color: #fff;
        font-size: 25px;
        font-weight: bold;
        font-family: gill sans, sans-serif;

    }
    .navbar-brand:hover {
        color: #98b9ff;
    }
    .navbar-nav > li > a:hover{
    color: #98b9ff;
    }
  }
}

.center {
  text-align: center;
}

.left {
  text-align: left;
}

.bottom {
  vertical-align: bottom;
}

.right {
  text-align: right;
}

.table-indent{
  text-indent: 50px;
}

.table-indent-double{
  text-indent: 100px;
}

